/*Esta clase es para hacer pruebas en los cambios de seccion por el color de fondo esta en blanco*/
.cambio-seccion-contacto{
    background-color: white;
}

/*Esta clase es para editar la sección contacto*/
.contacto{
    background-color: #b5bac9;
}

/*Esta clase es para modificar el titulo de la sección contacto*/
.contacto-title{
    text-align: center;
    font-family: BebasNeue;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:black;
}

/*Esta clase es para modificar el subtitulo de la sección contacto*/
.contacto-subtitle{
    text-align: center;
    font-family: Merrieather;
    font-size: 25px;
    color: white;
    font-style: italic;

}

.contacto-contenedor{
    display: flex; /*Aqui utilice flex para poner el formulario a la derecha de los medios de contacto*/
}

/*Esta clase es para editar la lista desordenada del lado izquierdo de contacto*/
.contacto-medios{
    list-style: none;
}

/*Esta clase es para editar las propiedades de los li*/
.c{
    font-family: Merrieather;
    font-style: italic;
    font-size: 22px;
    padding: 20px;
    align-items: center;
    color: white;

}

/*Esta clase es para editar los imagenes de los li*/
.contact-img{
    vertical-align: middle; /*La centramos al centro en el eje vertical para que se vea mas estético*/
    padding-right: 10px;
}

/*Esta clase es para editar las propiedas del contenedor que tiene al formulario*/
.formulario-contenedor{
    padding: 5em;
    padding-top: 10px;
}

/*Las siguientes clases sirven para modificar el formulario*/
input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
 /* 
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
    */
  
  
  
  
  span{
    color: #ab4493; 
  }

  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  

  