@mixin black_center{
    text-align: center;
    font-family: BebasNeue;
    font-size: 40px;
    color: black;
}

/*Esta clase es para hacer pruebas en los cambios de seccion por el color de fondo esta en blanco*/
.cambio-seccion-client{
    background-color:$cambio-seccion-client;
}

.cont-client{
    background-color: white;
    text-align: center;
}

/*Esta clase es para editar la sección clientes*/
.clientes{
    background-color: $fondo-clientes;
    margin-bottom: 20px;
    .condominio-cont{
        .view{
            object-fit: cover;
            width: 100%;
        }
    }
}

/*Esta clase es para modificar el titulo de la sección clientes*/
.clientes-title{
    text-align: center;
    font-family: BebasNeue;
    font-size: 40px;
    color: white;
    background-color: $clientes-title;
}

/*Esta clase contiene a la imagen y la información de la sección clientes*/
.client-contenedor{
    /*display: flex;/*Aqui utilice flex para poner un listado a la derecha de la imagen*/
    display: grid;
    grid-template-columns: 1fr 1fr; /*Aqui utilice grid para mostrar 2 columnas en las versión de escritorio*/
    background-color: $fondo-clientes;
}

.client-contenedor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Esta clase es para la imagen de cliente*/
.client-logo-img{
height: auto;
width: auto;  
}

/*Esta clase es para toda la información de cliente(Lado derecho)*/
.client-info{
    text-align: left;
    padding-left: 40px;
}

/*Esta clase es para modficar los elementos li del contenedor .client-info*/
.client-info li{
    padding-bottom: 30px;
}

/*Los siguientes estilos son para el dropdown de la sección clientes*/
.btn-title{
    width: 100%;
  }



.dropdown-menu{
    width: 93%;
    opacity: 0.8;
    background-color: #212529;
}

.dropdown-menu .dropdown-item {
    color: white; /* Cambia 'green' al color deseado */
}



.dropdown-menu a:hover{
    background-color: rgba(0, 0, 0, 1);
    color:#009929;
}

.dropdown-item {
    width: auto;
    text-align: center;
    background-color:  #212529;
  }


.btn-title p{
    @include black_center;
}


.dropdown-menu li a{
    @include black_center;
}
