/*Este archivo es para modificar los principales colores de fondo de la página*/

/*Color de fondo menu*/
$fondo-menu:#092327;

/*color de fondo de la sección valores*/
$fondo-valores:#6C757D;

/*Color entre la separacion del titulo y contenido de cada seccion*/
$title-inline:white;

/*color de fondo del del titulo de  valores*/
$valores-title-font-color:white;

/*Color de cambio de seccion inicio a valores*/
$cambio-seccion-val:white;

/*Color de cambio de seccion valores a servicios*/
$cambio-seccion-serv:white;

/*color de fondo de la sección servicios*/
$fondo-servicios:#193737;

/*color de fondo del del titulo de servicios*/
$servicios-title:#193737;

/*color de fondo del del titulo de servicios*/
$clientes-title:#05262b;


/*Color de cambio de seccion servicios a clientes*/
$cambio-seccion-client:white;

/*Color de fondo de la sección clientes*/
$fondo-clientes:beige;

/*Color de cambio de seccion clientes a contacto*/
$cambio-seccion-contacto:white;

/*Color de fondo de la sección contacto*/
$fondo-contacto: #1f3438;

/*Color de fondo del footer*/
$fondo-footer: #1f3438;



