/*Esta clase se utiliza para el menú en el cual le agregue el color de fondo
la sombra de color verde, que ocupará todo el ancho de la pantalla y 
el z-index ya que tenia un problema con la imagen de inicio que se superponia*/
.topheader{
    position:fixed;
    box-shadow: 0 4px 5px green;
    background-color: $fondo-menu;
    left:0;
    top:0;
    width: 100%;
    z-index: 100; /*Para solucionar problema con la imagen que se quedaba arriva del menú fixed*/
}

/*Esta clase es mi barra de navegación que contendrá los enlaces para moverme entre secciones*/
.topnav{
    display: flex;      /*Este flex lo utilice para Separar el logo con el nombre, de los enlaces de las secciones*/
    justify-content: space-between; /*Para separar el logo con nombre de los enlaces*/
    padding: 0px;
    max-width: 980px;
    margin: 0 auto; /*Para que al agrandar a minimizar el contenido a lo ancho se ajuste al header*/;
}

//Nesting
/*Esta clase contiene el logo y el nombre de la empresa*/
.logo{
    display: flex; /*Este flex lo utilice para poner el nombre de la empresa a la derecha del logo*/
    align-items: center;
    font-size: 18px;
    img{/*Esta clase se enfoca en la imagen del logo y la redondea*/
        border-radius: 50%; /*Imagen redondeada*/
    }
    div{ /*Esta clase es para las propiedas del nombre de la empresa a la derecha del logo*/
        color:white;
        padding-left: 5px;
    }
}


/*Menú*/  //Nesting
.menu{
    display: flex; /*Este flex lo utilice para posicionar todos los elementos de la lista del menú*/
    list-style: none; /*Para quitar el circulo que traen por default los li*/
    li{
        padding: 0 15px; /*Esta clase es para separar los li del menú*/
        a{/*Esta clase es para cambiar el estilo de los enlaces del menú*/
            color: white;
            font-size: 18px;
            font-weight: 500;
            line-height: 70px; /*Para subir la altura de los enlaces a la del logo y quede mas estético*/
            text-transform: uppercase; /*Transformamos los enlaces en mayúsculas*/
            position:relative; /*Se pone relative para que en menu a after nos posicionemos respecto al enlace*/
        }
    }
}

/*Esta clase es para la barra azul que se ve al pasar por el enlace*/
.menu a::after{
    content: "";
    background-color:blue;
    position:absolute;
    left:0;
    top:calc(100% + 4px); /* para posicionar el sombreado azul un poco mas abajo*/
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.5s; /*Para que el seleccionado sea mas agradable para la vista*/ 
}

.menu a.selected::after, /*Para que el seleccionado se quede subrayado y también podamos hacer hover*/
.menu a:hover::after{
    opacity: 0.8;
}

.menu a:hover{
    color:black; /*Para el color de la letra cambia al pasar con el mouse*/
}

.menu a:active{
    color:yellow; /*El color de letra cambia al dar click en el enlace*/
}

/*Este es un padding general de manera horizontal es decir para que se mantenga un poco mas al centro en el eje horizontal*/
.horizontal-padding{
    padding-left: 70px;
    padding-right: 70px;

}

/*Este es un padding general de manera vertical es decir para que se mantenga un poco mas al centro en el eje vertical*/
.vertical-padding{
    padding-top: 70px;
    padding-bottom: 70px;

}

/*Esta clase es para separar el titulo de su contenedor hijo*/
.title-inline{
    margin-top: 0;
    height: 15px;
    background-color: $title-inline;
}

/*Un padding hacia arriba del body de 100 px, para que se vea mas estético*/
body{
    padding-top: 140px;
}

/*Para que los enlaces no se vean de color azul*/
a{
    text-decoration: none;
}

/*Este atributo se utiliza para dejar un margen hacia arriba
, ya que al utilizar fixed en el menu se necesita un espacio de 100px(lo que ocupa el menú)
para que las secciones se visualicen bien*/
section[id]{
    scroll-margin-top: 100px ;
}

/*Este atrbuto es para que al dar click entre las diferentes secciones
el scroll sea mas suave para la vista*/
html{
    scroll-behavior: smooth;
    height: 100%;
}

/*Este atributo es para los footer únicamente le cambia el color, la alineación y lo eleva un poco
ya que en lo personal; por ahora no me gusta que quede tan abajo*/
footer{
    display: block;
    bottom: 0;
    text-align: center;
    background-color:$fondo-footer;
    color:white;
}

.open-menu,
.close-menu{
    display: none;
}

