/*Esta clase es para hacer pruebas en los cambios de seccion por el color de fondo esta en blanco*/
.cambio-seccion-val{
    background-color:$cambio-seccion-val;
    margin:0;
    
}
/*Esta clase es para editar el titulo de la sección Nosotros*/
.valores-title{
    text-align: center; /*Centramos el texto*/
    font-family: BebasNeue;/*Seleccionamos otro tipo de fuente,cambiamos el color y el tamaño*/
    font-size: 40px;
    color: $valores-title-font-color;
}

/*Esta clase es para el fondo detras del título valores*/
.valores{
    background-color:$fondo-valores;
    margin-bottom: 1rem;
}

/*Esta clase es para centrar los valores*/
.cont-val{
    padding-top: 0;
    margin-top: 0;
    align-items: center;
}


/*Esta clase es el contenedor que tiene a los div val-column*/
.val-contenedor{
    padding-top: 10px; /*Agregue padding para darle un mejor formato*/
    padding-left:10%;
    padding-right:17%;
    text-align: center;
    display: flex; /*Aqui utilice flex para mostrar como columnas los divs hijos*/
    background-color: $fondo-valores;
}


/*Esta clase son los divs hijos que contendrán a los valores su descripción y su imagen*/
.val-column{
    align-items: center;
    width: 280px; /*Un ancho máximo para que se vea mas estructurado*/
    text-align: left;
    margin-right: 50px; /*Margenes para que se vea mas estructurado*/
}

/*Esta clase es para el Nombre de cada valor en los divs*/
.val-subtitle{
    text-align: center; /*Lo alineamos en el centro para que se vea mas estético*/
}

.card-personalizada{
    width: 280px;
}